@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Poppins, Arial, Helvetica, sans-serif;
    font-size: large;
    position: relative;
}

:root {
    --background-primary: hsl(40, 50%, 97%);
    --background-primary-hover: hsl(40, 20%, 92%);
    
    --background-secondary: hsl(240, 50%, 97%);
    --background-secondary-hover: hsl(240, 20%, 92%);
    
    --background-tertiary: hsl(260, 50%, 97%);
    --background-tertiary-hover: hsl(260, 20%, 92%);

    --opacity-lite: 12%;
    --opacity-hard: 20%;

    --border: hsl(0, 0%, 88%);
    --border-hover: hsl(0, 0%, 93%);
    
    --dark-border: hsl(0, 0%, 68%);
    --dark-border-hover: hsl(0, 0%, 73%);

    --gray-bg: hsl(0, 0%, 50%, 12%);

    --accent:          hsl(200, 100%, 40%);
    --accent-bg:       hsl(200, 100%, 50%, 12%);
    --accent-hover:    hsl(200, 100%, 60%);
    --accent-disabled: hsl(200, 70%, 40%);

    --notify: hsl(0, 100%, 65%);

    --danger:          hsl(0, 100%, 30%);
    --danger-bg:       hsl(0, 100%, 60%, 12%);
    --danger-hover:    hsl(0, 100%, 80%);
    --danger-disabled: hsl(0, 70%, 55%);

    --valid:          hsl(115, 100%, 20%);
    --valid-bg:       hsl(115, 100%, 60%, 12%);
    --valid-hover:    hsl(115, 100%, 70%);
    --valid-disabled: hsl(115, 60%, 50%);

    --warning:          hsl(25, 100%, 30%);
    --warning-bg:       hsl(25, 100%, 60%, 12%);
    --warning-hover:    hsl(25, 100%, 70%);
    --warning-disabled: hsl(25, 60%, 50%);

    --red:          hsl(0, 100%, 60%);
    --red-bg:       hsl(0, 100%, 60%, 12%);
    --red-hover:    hsl(0, 100%, 75%);
    --red-disabled: hsl(0, 70%, 50%);

    --orange:          hsl(25, 100%, 60%);
    --orange-hover:    hsl(25, 100%, 70%);
    --orange-disabled: hsl(25, 60%, 50%);

    --yellow:          hsl(45, 100%, 50%);
    --yellow-bg:       hsl(45, 100%, 60%, 12%);
    --yellow-hover:    hsl(45, 100%, 60%);
    --yellow-disabled: hsl(45, 60%, 50%);

    --lime:          hsl(70, 100%, 60%);
    --lime-hover:    hsl(70, 100%, 70%);
    --lime-disabled: hsl(70, 60%, 50%);

    --green:          hsl(115, 100%, 40%);
    --green-bg:       hsl(115, 100%, 50%, 12%);
    --green-hover:    hsl(115, 100%, 70%);
    --green-disabled: hsl(115, 60%, 50%);

    --turquoise:          hsl(140, 100%, 60%);
    --turquoise-hover:    hsl(140, 100%, 70%);
    --turquoise-disabled: hsl(140, 60%, 60%);

    --blue:          hsl(200, 100%, 40%);
    --blue-bg:       hsl(200, 100%, 50%, 12%);
    --blue-hover:    hsl(200, 100%, 60%);
    --blue-disabled: hsl(200, 70%, 40%);

    --purple:          hsl(270, 100%, 40%);
    --purple-bg:       hsl(270, 100%, 60%, 12%);
    --purple-hover:    hsl(270, 100%, 70%);
    --purple-disabled: hsl(270, 60%, 50%);

    --pink:          hsl(340, 100%, 60%);
    --pink-hover:    hsl(340, 100%, 70%);
    --pink-disabled: hsl(340, 60%, 50%);
    
    --text: hsl(0, 0%, 15%);
    --text-disabled: hsl(0, 0%, 25%);
    --text-inverted: hsl(0, 0%, 95%);
    --text-inverted-disabled: hsl(0, 0%, 75%);

    --text-white: hsl(0, 0%, 95%);
    --text-white-disabled: hsl(0, 0%, 75%);
    --text-black: hsl(0, 0%, 15%);
    --text-black-disabled: hsl(0, 0%, 35%);

    --gap-smaller: 4px;
    --gap-small: 8px;
    --gap-regular: 12px;
    --gap-large: 24px;

    --pad-smaller: 4px;
    --pad-small: 8px;
    --pad-regular: 12px;
    --pad-large: 24px;

    --radius-smaller: 2px;
    --radius-small: 4px;
    --radius-regular: 8px;
    --radius-medium: 12px;
    --radius-large: 16px;

    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    --cursor-default: url('images/cursor/default.png');
    --cursor-pointer: url('images/cursor/pointer.png');
    --cursor-not-allowed: url('images/cursor/not-allowed.png');
    --cursor-text: url('images/cursor/text.png');
}

body.dark {
    --background-primary: hsl(215, 12%, 22%);
    --background-primary-hover: hsl(215, 12%, 27%);

    --background-secondary: hsl(215, 17%, 20%);
    --background-secondary-hover: hsl(215, 17%, 25%);

    --background-tertiary: hsl(215, 10%, 30%);
    --background-tertiary-hover: hsl(215, 10%, 35%);

    --opacity-lite: 12%;
    --opacity-hard: 20%;

    --danger:          hsl(0, 100%, 80%);
    --danger-bg:       hsl(0, 100%, 60%, 12%);
    --danger-hover:    hsl(0, 100%, 80%);
    --danger-disabled: hsl(0, 70%, 55%);

    --valid:          hsl(115, 100%, 80%);
    --valid-bg:       hsl(115, 100%, 60%, 12%);
    --valid-hover:    hsl(115, 100%, 70%);
    --valid-disabled: hsl(115, 60%, 50%);

    --red:          hsl(0, 100%, 60%);
    --red-bg:       hsl(0, 100%, 60%, 12%);
    --red-hover:    hsl(0, 100%, 70%);
    --red-disabled: hsl(0, 70%, 50%);

    --orange:          hsl(25, 100%, 60%);
    --orange-hover:    hsl(25, 100%, 70%);
    --orange-disabled: hsl(25, 60%, 50%);

    --yellow:          hsl(45, 100%, 60%);
    --yellow-hover:    hsl(45, 100%, 70%);
    --yellow-disabled: hsl(45, 60%, 50%);

    --lime:          hsl(70, 100%, 60%);
    --lime-hover:    hsl(70, 100%, 70%);
    --lime-disabled: hsl(70, 60%, 50%);

    --green:          hsl(115, 100%, 60%);
    --green-hover:    hsl(115, 100%, 70%);
    --green-disabled: hsl(115, 60%, 50%);

    --turquoise:          hsl(140, 100%, 60%);
    --turquoise-hover:    hsl(140, 100%, 70%);
    --turquoise-disabled: hsl(140, 60%, 60%);

    --blue:          hsl(200, 100%, 60%);
    --blue-hover:    hsl(200, 100%, 70%);
    --blue-disabled: hsl(200, 60%, 50%);

    --purple:          hsl(270, 100%, 65%);
    --purple-bg:       hsl(270, 100%, 60%, 8%);
    --purple-hover:    hsl(270, 100%, 70%);
    --purple-disabled: hsl(270, 60%, 50%);

    --pink:          hsl(340, 100%, 60%);
    --pink-hover:    hsl(340, 100%, 70%);
    --pink-disabled: hsl(340, 60%, 50%);

    --border: hsl(240, 5%, 58%);
    --border-hover: hsl(240, 5%, 63%);
    
    --dark-border: hsl(0, 0%, 68%);
    --dark-border-hover: hsl(0, 0%, 73%);

    --text: hsl(0, 0%, 95%);
    --text-disabled: hsl(0, 0%, 80%);
    --text-inverted: hsl(0, 0%, 15%);
    --text-inverted-disabled: hsl(0, 0%, 35%);
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    cursor: var(--cursor-pointer), pointer;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-border);
    border: 2px solid var(--background-secondary);
    border-radius: var(--radius-regular);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-border-hover);
}

::-webkit-scrollbar-button {
    height: 12px;
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    height: 12px;
    width: 12px;
    background-color: transparent;
}

body {
    cursor: var(--cursor-default), auto;
    min-height: 100dvh;
    background-color: var(--background-secondary);
    color: var(--text);
    display: grid;
    gap: 0 var(--gap-regular);
    padding: var(--pad-regular);
    grid-template-columns: auto 1fr;
    grid-template-areas:
    "header header"
    "side main";
}

header {
    grid-area: header;
}

aside {
    grid-area: side;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

ul {
    list-style: none;
}

input[type="text"] {
    cursor: var(--cursor-text), text;
}

button,
.button {
    color: inherit;
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: var(--cursor-pointer), pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: var(--cursor-pointer), pointer;
}

body {
    background-color: var(--background-primary);
}

header {
    position: sticky;
    top: 0;
    height: 100px;
    padding: var(--pad-regular);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
}

header .buttons {
    display: flex;
    align-items: center;
    gap: var(--gap-smaller);
}

header .buttons a,
header .buttons button {
    position: relative;
    padding: var(--gap-regular);
    display: flex;
    align-items: center;
    border-radius: var(--radius-regular);
    gap: var(--gap-regular);
    font-weight: var(--font-medium);
}

header .buttons a:hover,
header .buttons button:hover {
    background-color: var(--background-primary-hover);
}

header .buttons svg {
    width: 32px;
    height: 32px;
}

.toggle-theme svg:last-child {
    display: none;
}

body.dark .toggle-theme svg:first-child {
    display: none;
}

body.dark .toggle-theme svg:last-child {
    display: inline;
}

#logo {
    height: 70px;
}

#user-popover {
    height: 200px;
    width: 200px;
    background: #000;
}

.demo {
    height: 200px;
    width: 100%;
    padding: var(--pad-large);
    background-color: #adadad;
    border: 2px solid var(--border);
    display: flex;
    gap: var(--gap-large);
}

.demo li {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.demo1 {
    background-color: var(--background-primary);
}

.demo1:hover {
    background-color: var(--background-primary-hover);
}

.demo2 {
    background-color: var(--background-secondary);
}

.demo2:hover {
    background-color: var(--background-secondary-hover);
}

.demo3 {
    background-color: var(--border);
}

.demo3:hover {
    background-color: var(--border-hover);
}

.demo4 {
    background-color: var(--accent);
}

.demo4:hover {
    background-color: var(--accent);
}

aside {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    padding: var(--pad-regular);
    background-color: var(--background-primary);
    color: var(--text);
    font-weight: var(--font-medium);
    position: sticky;
    top: 124px;
    height: calc(100dvh - 124px);
    width: 250px;
    transition: 300ms padding, 300ms width;
    align-self: start;
    overflow: hidden;
    text-wrap: nowrap;
    background-color: var(--background-secondary);
    border-radius: var(--radius-large);
    border: 1px solid var(--border);
}

aside.hidden {
    /* width: calc(var(--pad-regular) * 2 + var(--pad-small) * 2 + 2px + 24px); */
    width: 66px;
    padding: var(--pad-regular) var(--pad-small);
}

aside .toggle-sidebar svg:last-of-type {
    display: none;
}

aside.hidden .toggle-sidebar svg:first-of-type {
    display: none;
}

aside.hidden .toggle-sidebar svg:last-of-type {
    display: inline;
}

aside .toggle-sidebar {
    display: flex;
    padding: var(--pad-regular);
    gap: var(--gap-regular);
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-regular);
    justify-content: flex-end;
    text-align: left;
    overflow: hidden;
    border: 1px solid var(--border);
    background-color: var(--background-primary);
}

aside .toggle-sidebar span {
    flex-grow: 1;
}

aside span {
    line-height: 24px;
}

aside .toggle-sidebar:hover {
    background-color: var(--background-primary-hover);
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-smaller);
}

aside a {
    position: relative;
    overflow: hidden;
    display: flex;
    gap: var(--gap-regular);
    padding: var(--pad-regular);
    align-items: center;
    border-radius: var(--radius-regular);
}

aside a:hover,
aside a.active {
    background-color: var(--background-secondary-hover);
}

aside a.active {
    color: var(--accent);
}

aside svg {
    flex-shrink: 0;
}

aside .sidebar-text {
    flex-grow: 1;
}

aside .notify {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(calc(-100% - var(--pad-regular)), -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-weight: var(--font-semibold);
    font-size: 13px;
    background-color: var(--notify);
    color: var(--text-white);
    transition: 300ms top, 300ms right, 300ms left;
}

.active .notify {
    background-color: inherit;
    color: var(--text);
}

aside.hidden .notify {
    top: 4px;
    right: unset;
    left: 4px;
    transform: translateY(0%);
}

main {
    border: 1px solid var(--border);
    border-radius: var(--radius-large);
    background-color: var(--background-secondary);
    padding: var(--pad-large) calc(var(--pad-large) - 12px) var(--pad-large) var(--pad-large);
    height: calc(100dvh - 124px);
    overflow-y: scroll;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-regular);
}

main .show-colors,
main .show-elements {
    background-color: var(--background-primary);
    padding: var(--pad-regular);
    border: 1px solid var(--border);
    border-radius: var(--radius-regular);
}

main .show-colors .button,
main ,.show-elements .button {
    display: flex;
    gap: var(--gap-regular);
}

main .show-colors div:first-child,
main .show-elements div:first-child {
    display: none;
}

main .show-colors.hidden div:first-child,
main .show-elements.hidden div:first-child {
    display: flex;
}

main .show-colors.hidden div:next-child,
main .show-elements.hidden div:next-child {
    display: none;
}


main .show-colors:hover,
main .show-elements:hover {
    background-color: var(--background-primary-hover);
}

main .colors-demo {
    display: flex;
    flex-direction: column;
    gap: var(--gap-regular);
    width: 100%;
    padding: var(--pad-regular);
    background-color: #3039af;
    border-radius: var(--radius-regular);
}

main .colors-demo.hidden,
main .elements-demo.hidden {
    display: none;
}

main .colors-demo li {
    width: 100%;
    background-color: #000;
    border: 1px solid var(--border);
    padding: 4px;
    border-radius: var(--radius-small);
}

main .colors-demo .bg-primary {
    background-color: var(--background-primary);
}

main .colors-demo .bg-primary-hover {
    background-color: var(--background-primary-hover);
}

main .colors-demo .bg-secondary {
    background-color: var(--background-secondary);
}

main .colors-demo .bg-secondary-hover {
    background-color: var(--background-secondary-hover);
}

main .colors-demo .bg-tertiary {
    background-color: var(--background-tertiary);
}

main .colors-demo .bg-tertiary-hover {
    background-color: var(--background-tertiary-hover);
}

main .colors-demo .border {
    background-color: var(--border);
}

main .colors-demo .border-hover {
    background-color: var(--border-hover);
}

main .colors-demo .dark-border {
    background-color: var(--dark-border);
}

main .colors-demo .dark-border-hover {
    background-color: var(--dark-border-hover);
}

main .colors-demo .accent {
    background-color: var(--accent);
}

main .colors-demo .accent-hover {
    background-color: var(--accent-hover);
}

main .colors-demo .text-white {
    background-color: var(--text-white);
    color: var(--text-black);
}

main .colors-demo .text-white-disabled {
    background-color: var(--text-white-disabled);
    color: var(--text-black);
}

main .colors-demo .text-black {
    background-color: var(--text-black);
    color: var(--text-white);
}

main .colors-demo .text-black-disabled {
    background-color: var(--text-black-disabled);
    color: var(--text-white);
}

main .elements-demo {
    display: flex;
    flex-direction: column;
    gap: var(--gap-regular);
    align-items: start;
}

main .buttons {
    padding: var(--pad-regular);
    border-radius: var(--radius-regular);
}

main .default-button {
    background-color: var(--background-primary);
    border: 1px solid var(--border);
}

main .default-button:hover {
    background-color: var(--background-primary-hover);
}

main .accent-button {
    background-color: var(--accent);
    border: 1px solid transparent;
    color: var(--text);
    font-weight: var(--font-medium);
}

main .accent-button:hover {
    background-color: var(--accent-hover);
}

main .simple-button:hover {
    background-color: var(--background-secondary-hover);
}

main .disabled-button {
    background-color: var(--background-primary);
    border: 1px solid var(--border);
    color: var(--text-disabled);
    cursor: var(--cursor-not-allowed), not-allowed;
}

.title {
    display: none;
    position: absolute;
    font-weight: var(--font-medium);
    font-size: medium;
    padding: var(--pad-small);
    border-radius: var(--radius-medium);
    background-color: var(--background-tertiary);
    border: 1px solid var(--dark-border);
}

.title.show {
    display: block;
}

/* custom-grid {
    display: flex;
    gap: var(--gap-small);
    flex-wrap: wrap;
} */

custom-grid {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    gap: var(--gap-small);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    flex: 1 1 420px;
    padding: var(--pad-small);
    background-color: var(--background-primary);
    border-radius: var(--radius-regular);
    border: 1px solid var(--border);
}

.card > * {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.card-header > * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-smaller);
    border-radius: var(--radius-regular);
}

.card-header .card-icon {
    flex-shrink: 0;
    padding: var(--pad-regular);
}

.blue .card-icon {
    color: var(--blue);
    background: var(--blue-bg);
}

.yellow .card-icon {
    color: var(--yellow);
    background: var(--yellow-bg);
}

.green .card-icon {
    color: var(--green);
    background: var(--green-bg);
}

.purple .card-icon {
    color: var(--purple);
    background: var(--purple-bg);
}

.red .card-icon {
    color: var(--red);
    background: var(--red-bg);
}

.card-header .card-name {
    flex-grow: 1;
    text-wrap: nowrap;
    justify-content: left;
    font-weight: var(--font-medium);
}

.card-header .card-link,
.card-header .card-options {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    padding: var(--pad-regular);
}

.card-header .card-link {
    display: none;
}

.card-header .card-options:hover {
    border-radius: 50%;
    background-color: var(--background-secondary-hover);
}

.card:hover .card-link {
    display: flex;
}

.card-title > * {
    font-weight: var(--font-medium);
}

.blue:hover .card-title span {
    text-decoration: 2px solid underline var(--blue);
}

.yellow:hover .card-title span {
    text-decoration: 2px solid underline var(--yellow);
}

.purple:hover .card-text span {
    text-decoration: 2px solid underline var(--purple);
}

.red:hover .card-text span {
    text-decoration: 2px solid underline var(--red);
}

.card-text > * {
    font-size: medium;
}

.card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-small);
}

.card-info > * {
    display: grid;
    grid-template-columns: 48px 4fr;
    padding: var(--pad-smaller);
    border-radius: var(--radius-regular);
}

.blue .card-info > * {
    background-color: var(--blue-bg);
}

.yellow .card-info > * {
    background-color: var(--yellow-bg);
}

.purple .card-info > * {
    background-color: var(--purple-bg);
}

.red .card-info > * {
    background-color: var(--red-bg);
}

.card-info > * > *:first-child {
    display: flex;
    grid-row: span 2;
    justify-content: center;
    align-items: center;
}

.blue .card-info > * > *:first-child {
    color: var(--blue);
}

.yellow .card-info > * > *:first-child {
    color: var(--yellow);
}

.purple .card-info > * > *:first-child {
    color: var(--purple);
}

.red .card-info > * > *:first-child {
    color: var(--red);
}

.card-info > * > *:nth-child(2) {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: smaller;
    color: var(--text-disabled);
}

.card-info > * > *:last-child {
    display: flex;
    flex-shrink: 1;
    justify-content: left;
    align-items: center;
    font-size: medium;
    font-weight: var(--font-medium);
    color: var(--text);
}

.card-info .card-double {
    grid-column: span 2;
}

.card-calendar {
    grid-row: span 2;
}

.calendar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-small);
}

.calendar-item {
    width: 100%;
    padding: var(--pad-smaller);
    border-left: 2px solid var(--green);
    background-color: var(--green-bg);
}

.calendar-item > * {
    font-size: medium;
}

.calendar-item > *:first-child {
    font-weight: var(--font-medium);
}

.card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-actions > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-actions > *:nth-child(2) {
    flex-grow: 1;
}

.card-actions > *:first-child,
.card-actions > *:last-child {
    padding: var(--pad-regular);
    border-radius: var(--radius-regular);
    background-color: var(--background-primary-hover);
}